@model QueryBuilder1._0.MAARITYS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MAARITYS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAARITYS_EHTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAARITYS_EHTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALINTAOPERAATTORI.VALINTAOPERAATTORI1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALINTAOPERAATTORI.VALINTAOPERAATTORI1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
